@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

body { 
font-family:'Cormorant Garamond', serif; 
background:#fdfbf7; 
color:#3a2c27; 
padding-top:80px; 
}

.bg-cream { 
background:#f5ede3 !important; 
}

.navbar-brand { 
font-weight:700; 
letter-spacing:3px; 
color:#5a3e2b !important;
font-family: 'Italianno', cursive;
font-size: 50px; 
}

.navbar-light .navbar-nav .nav-link {
    font-size: 25px; 
    font-weight: 600;
    letter-spacing: 1px;
    color: #5a3e2b !important;
    padding: 0.5rem 1rem; 
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #d4a373 !important;
}

.banner { 
background: url('https://i.pinimg.com/736x/35/77/a9/3577a9baef9c1bb0c905df3c005b0315.jpg') center/cover no-repeat; 
min-height:80vh; 
color:#2b1f18; 
display:flex; 
align-items:center; 
justify-content:center; 
text-align:center; 
}

.section-title { 
color:#5a3e2b; 
font-weight:600; 
margin-bottom:1rem; 
border-bottom:2px solid #efe7dd; 
padding-bottom:.5rem; 
font-size: 30px;
}

.product-card { 
border:none; 
transition: transform .2s ease; 
box-shadow: 0 6px 18px rgba(0,0,0,0.06); 
font-size: 20px;
}

.product-card:hover { 
transform: translateY(-6px); 
}

.card-img-top {
  height: 380px; 
  object-fit: cover;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

footer {
  background: #f5ede3;
  color: #3a2c27;
  padding: 30px 0 10px; 
  font-family: 'Cormorant Garamond', serif;
  border-top: 2px solid #d4a373;
}

footer .container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  gap: 10px;
}

.footer-content {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-content h3 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #5a3e2b;
  border-bottom: 2px solid #d4a373;
  padding-bottom: 5px;
}

.footer-content p,
.footer-content li,
.footer-content a {
  font-size: 15px;
  color: #3a2c27;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-content ul.list {
  list-style: none;
  padding: 0;
}

.footer-content ul.list li {
  margin-bottom: 8px;
}

.footer-content ul.list li a:hover {
  color: #d4a373; 
}

.footer-content ul.list li { 
  display: block;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.bottom-bar {
  background-color: #e6d7c3;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

.bottom-bar p {
  margin: 0;
  font-size: 14px;
  color: #5a3e2b;
}

.social-icons {
  list-style: none;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 15px;
}

.social-icons a {
  color: #5a3e2b;
  font-size: 22px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #d4a373;
}





